/* src/styles/Game.module.css */

.gameContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}